@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 5px;
    background-color: rebeccapurple;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5), 10px 10px 10px rgba(7, 7, 7, 0.5);
    opacity: 0.9;
    display: flex;
    align-items: center;
    gap: 1rem;
}